<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>login</title>

<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
</head>
<body>
<div style="position:absolute;top:30%;left:40%;background:#ccc;padding:20px;">
<h1 style="text-align: center;">登录</h1>
用户名:<input type="text" id="username" class="form-inline"/><br/>
密&nbsp;码:<input type="password" id="passwd" class="form-inline"/><br/>
<button class="btn btn-primary pull-right" onclick="login()">登录</button>
</div>
</body>
<script>
  function login () {
    let username = $('#username').val(),
        passwd = $('#passwd').val();

    $.ajax({
      url: '/users/auth',
      type: 'post',
      data: {username: username, password: passwd},
      success (data) {
        sessionStorage.setItem('token', data.token);
        setTimeout(() => {
          location.href = 'list.html';
        }, 100)
      },
      error() {
        alert('认证失败');
      }
    })    
  }
</script>
</html>
